html {
    scroll-behavior: smooth;
    width: 100% !important;
  }
body {
    background-color: #ffffff;
    color: #424B54;
    font-family: 'Spartan', sans-serif;
    width: 100%;
}
a {
    color: #e03f3f;
}
a:hover {
    text-decoration: none;
    color: rgb(183, 192, 219) !important;
}
.deco-line {
    border: 1px solid #ffd4fd;
}
h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 2.5px;
}
h2 {
   font-family: 'Spartan', sans-serif;
   font-weight: 800;
   font-size: 1.25rem;
   text-transform: uppercase;
   letter-spacing: 2.5px;
}
h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 2.5px;
}
h4 {
    font-family: 'Spartan', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 2.5px;
}
h5 {
    font-weight: 800;
}
.tiny {
    font-size: .75rem;
}
p {
    font-family: 'Spartan', sans-serif;
    font-size: .85rem;
}
.text-muted {
    opacity: 0.65;
}
.bg-faded .text-muted {
    color: rgba(255,255,255,0.65) !important;
}
.btn-primary:hover {
    background-color: #e03f3f !important;
    color: #ffffff !important;
}
.btn-primary {
    border: 0px !important;
    background-color: #ffd4fd !important;
    color: #e03f3f;
    letter-spacing: 2.5px;
}
.brand-color {
    display: block;
    padding-top: 100%;
}
.bg-faded {
    background-color: #424B54;
    color: #ffffff;
}
.bg-faded hr {
    border-color: rgba(255,255,255,0.35);
}
.navbar-brand {
    font-size: 1rem;
}
.nav-item {
    text-transform: uppercase;
}
.nav-link-social {
    padding: 0 .5rem;
    color: #ffd4fd;
}
.nav-link-social:hover {
    color: #e03f3f  !important;
}
a.nav-link {
    color: inherit;
}
a.nav-link:hover {
    color: #e03f3f !important;
}
.navbar-light .navbar-toggler {
    border: 0px !important;
}
.clientlist li {
    padding: 0 0 1rem 0;
    font-size: 0.85rem;
}
.focus {
    border: 0px !important;
    border-radius: 2px;
    opacity: 0.6 !important;
    transition: all 0.5s ease;
}
.focus:hover {
    opacity: 1.0 !important;
}
.focus a {
    color: #424B54;
}
.focus a:hover{
    color: #424B54 !important;
}
.focus-body {
    position: relative;
}
.isabelline {
    background-color: rgb(183, 219, 214);
}
.linen {
    background-color: #FCF0DE;
}
.melon {
    background-color: #ffd4fd;
}
.silver-pink {
    background-color: #C6AFB1;
    color: #ffffff;
}
.icon {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(0,0,0,0.15);
    display: block;
    background-color: rgb(183, 219, 214);
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0 auto;
}
.middlecol {
border-left:  1px solid #dee2e6 !important;
border-right:  1px solid #dee2e6 !important;
}
.footerimg {
    display: block;
    width: 25px;
    height: auto;
}
.footer a {
    color: #424B54;
}
.footer a:hover {
    color: rgb(183, 192, 219) !important;
}

.bg-periwinkle {
    background-color: rgb(183, 192, 219) !important;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 768px) {
.middlecol {
border-left:  0px solid #dee2e6 !important;
border-right:  0px solid #dee2e6 !important;
}
}

#header-links{
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px solid #ced4da;
    margin-top: -10px !important;
    padding: 20px 0 0 0;
    letter-spacing: 2.5px;
    color: #ced4da;
}

#header-links a{
    font-weight: 400;
    margin: 0 10px;
}
#header-links a:hover{
    text-decoration:none;
}

.img-thumbnail {
    padding:0px !important;
    border: 0px !important;
}

#bio-container {
    background: url(" ") no-repeat top right #fff !important; }
  
.jumbotron {
    background: transparent !important;
    padding: 2rem 0rem; }
  
.jumbotron h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #455464 !important; }

@media screen and (min-width: 400px) {
    br.rwd-break {
        display: none !important;} }

.resume-heading {
    letter-spacing: 1px;
    margin-bottom: -3px !important;
    margin-top:15px;
    font-weight: 600;
}
.resume-subheading {
    margin-bottom: 5px !important;
}

.resume li {
    list-style: none;
}

.resume img {
    height: 35px;
    margin: 7px 0 0 10px;
    opacity: 0.6;
}
.resume img:hover{
    opacity: 0.9;
}

#btn-secondary {
    background-color: rgb(183, 192, 219) !important;
    color: #fff !important; 
    border: 0px; }
#btn-secondary:hover {
    background-color: #ffd4fd  !important;
    color: #e03f3f !important; }

.card {
    border: none !important;
    transition: all 0.5s 0s;
}   
a .card:hover {
    opacity: 0.8;
    transition: all 0.5s 0s;
}
.card h2 {
    font-size: 1rem;
}
.card-title {
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
a.card-link {
    font-size: 1.25rem;
    color: #424B54;
}
a.card-link:hover {
    color: #e03f3f !important;
}
.nav-link{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.tool {
    height: 40px;
    margin: 0 8px 10px 7px;
    opacity: 0.85;
}
.spacer {
    display: block;
    width: 100%;
}
/* LIGHTBOX CUSTOMIZATION */
.modal-footer {
    border: 0px !important;
    padding-top: 0px !important;
    font-size: .75rem;
}

/* Contact Form Customization */
.form-control {
    font-size: 0.85rem;
}

/* Portfolio page customization */
@media (min-width: 100px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}