<!-- .footer -->
<div class="container-fluid bg-white my-0 py-5">
        <div class="container footer text-center">
            <img src="../../assets/logo-heart.svg" class="footerimg mx-auto mb-4">
            <P>
                <a href="https://twitter.com/heyitsjaki"><i class="fab fa-twitter mr-3"></i></a>
                <a href="https://www.instagram.com/heyitsjaki/"><i class="fab fa-instagram mr-3"></i></a>
                <a href="https://itsmyfreakin.tumblr.com"><i class="fab fa-tumblr mr-3"></i></a>
                <a href="https://www.behance.net/designbyjaki"><i class="fab fa-behance mr-3"></i></a>
                <a href="mailto:contact@designbyjaki.com"><i class="far fa-envelope"></i></a>
            </P>
            <hr class="my-4" style="width: 40%;">
            <P class="font-italic small">Please do not repost my work without my permission.
            </P>
            <P>&copy; 2020 Jaki (Jaho) King.</P>        
    
        </div>
    </div>
<!-- /.footer -->
