<!-- header -->
<hr class="trim my-0 mx-auto col-lg-9 col-sm-12">
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-0 col-lg-9 col-sm-10 col mx-auto my-4">
                <a class="navbar-brand" href="/"><img src="../../../assets/logo-horizontal.svg" height="85"></a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active text-center"><a class="nav-link" href="/portfolio">Portfolio</a></li>
                <li class="nav-item active text-center"><a class="nav-link" href="/about">Resume</a></li>
                <li class="nav-item active text-center"><a class="nav-link" href="https://www.redbubble.com/people/heyitsjaki">Shop</a></li>
                <li class="nav-item active text-center"><a class="nav-link" href="/faq">FAQ</a></li>
                <li class="nav-item active text-center"><a class="nav-link" href="#contactform">Contact</a></li>
                <li class="nav-item active text-center py-2 ml-lg-4">
                <a class="nav-link-social" href="https://twitter.com/heyitsjaki"><i class="fab fa-twitter"></i></a>
                <a class="nav-link-social" href="https://www.instagram.com/heyitsjaki/"><i class="fab fa-instagram"></i></a>
                <a class="nav-link-social" href="https://www.behance.net/designbyjaki"><i class="fab fa-behance-square"></i></a>
                <a class="nav-link-social" href="mailto:contact@designbyjaki.com"><i class="fas fa-envelope"></i></a></li>
                </ul>
                </div>
                </nav>
            </div>
</div>
<!-- /.header -->