<!-- .banner -->
<div class="container-fluid bg-dark kismet my-5 py-5">
        <div class="container kismet-container mt-md-5 mt-sm-2">
            <h2>Read My Webcomic:</h2>
        <div class="row">
            <div class="col-sm-5 text-right d-flex align-content-center flex-wrap pt-1"><img src="../assets/kismetlogo.svg" class="kismet-title"></div>
            <div class="col-sm-7 d-flex align-content-center flex-wrap text-center text-md-left">
                <span>AS INTERPLANETARY WAR THREATENS THE PERSEID SYSTEM, A SCIENTIST VENTURES TO THE FAR REACHES OF SPACE IN HER SEARCH FOR THE TRUTH: IS HUMANITY THE MASTER OF ITS OWN FATE, OR IS DESTINY TRULY INESCAPABLE?
            </span></div>
            <a class="mx-auto d-block mt-4 mt-md-0" href="http://www.kismet-comic.com/"><button type="button" class="btn kismet-btn btn-lg">Read the Comic Here</button></a>
        </div>
        </div>
    </div>
<!-- /.banner -->