<!-- .resume -->
<div class="container-fluid">
        <div class="container my-4">
        <h2>Relevant Experience</h2>
    
    <div class="row mt-4 text-md-center">
        <div class="col-md-4"><h3>Education</h3>
            <B>B.A. Economics</B><br>
            Boston University | May 2011
        </div>
        <div class="col-md-4 middlecol mt-md-0 mt-3"><h3>Skills</h3>
            <span class="badge badge-pill badge-dark">Branding</span> <span class="badge badge-pill badge-dark">Character Design</span> <span class="badge badge-pill badge-dark">Front-End Development</span> <span class="badge badge-pill badge-dark">Graphic Design</span> <span class="badge badge-pill badge-dark">Illustration</span> <span class="badge badge-pill badge-dark">Sequential Art</span> <span class="badge badge-pill badge-dark">Typography</span> <span class="badge badge-pill badge-dark">UI/UX Design</span>
        </div>
        <div class="col-md-4 mt-md-0 mt-3">
            <h3>Tools</h3>
            <img src="../assets/adobeindesign.svg" class="tool"><img src="../assets/adobeillustrator.svg" class="tool"><img src="../assets/adobephotoshop.svg" class="tool"><img src="../assets/adobepremiere.svg" class="tool"><br><img src="../assets/microsoftexcel.svg" class="tool"><img src="../assets/microsoftword.svg" class="tool"><img src="../assets/sketch-brands.svg" class="tool">
        </div>
    </div>
    
    <div class="row mt-5">
    <p class="mx-auto">
      <a name="resume" class="btn btn-primary btn-lg border-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        View Full Resume
      </a>
    </p>
    <div class="collapse px-3" id="collapseExample">
         <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Boston Women in Private Equity</h2>
            <i>November 2019</i>
            <P>Lead UI Designer</P>
        </div>
        <div class="col-md-8">
            Designed and implemented website for Boston Women in Private Equity.
        </div>
    </div> 
     <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Untapped Creative</h2>
            <i>October 2019</i>
            <P>Illustrator</P>
        </div>
        <div class="col-md-8">
            Created concept illustrations for a food truck's logo.<br>
        </div>
    </div>
        <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Urban Justice Center</h2>
            <i>May 2019</i>
            <P>Graphic Designer</P>
        </div>
        <div class="col-md-8">
            Worked on numerous graphic design projects for the Urban Justice Center.<br>
            Created graphics for annual "Night Out" event, including posters, pledge cards, and digital advertisements.
        </div>
    </div>
        <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>FLS International</h2>
            <i>February 2019</i>
            <P>Lead UI Designer</P>
        </div>
        <div class="col-md-8">
            Designed and implemented website for FLS International's Scholar's Program.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Boston Women in Private Equity</h2>
            <i>January 2019</i>
            <P>Graphic Designer</P>
        </div>
        <div class="col-md-8">
            Designed explainer sheet for Boston Women in Private Equity.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Listen Local</h2>
            <i>January 2019</i>
            <P>Front-End Developer</P>
        </div>
        <div class="col-md-8">
            Designed and coded custom website for the Listen Local app.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Banyan Innovations</h2>
            <i>January 2019</i>
            <P>Graphic Designer and Illustrator</P>
        </div>
        <div class="col-md-8">
            Created illustrations for "The Future of Agriculture" slide deck.<br>
    Edited video footage for use in "The Future of Agriculture" presentation.<br>
    Designed slide deck for "The Future of Agriculture" presentation.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>motivote</h2>
            <i>October 2018, January 2019</i>
            <P>Front-End Developer</P>
        </div>
        <div class="col-md-8">
            Designed and coded motivote's website.<br>
    Designed and coded a landing page for motivote's partnership with Headcount.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Compass Adventure Collective</h2>
            <i>October 2018</i>
            <P>Design Lead</P>
        </div>
        <div class="col-md-8">
            Created website for Compass Adventure Collective.<br>
    Designed a logo for the company.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>The Good Country</h2>
            <i>September 2018</i>
            <P>Illustrator & Designer</P>
        </div>
        <div class="col-md-8">
            Created illustrations for explainer sheet.<br>
    Helped design layout for 2-page spread outlining company policies.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Department of Occupational Therapy<br>Boston University</h2>
            <i>October 2016 - February 2019</i>
            <P>Senior Program Coordinator</P>
        </div>
        <div class="col-md-8">
            Designed logos for departmental labs and groups.<br>
    Created graphics for Entry-level OTD Program Open House events.<br>
    Created event flyers and other graphics for departmental activities.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>KISMET</h2>
            <i>October 2015 - Present</i>
            <P>Creator & Illustrator</P>
        </div>
        <div class="col-md-8">
            Featured on the front page of Tapas.io and the Tapastic app.<br>
    2016 winner of StArt Faire’s “Excellence in Science Fiction” award.<br>
    Designed characters, costumes, and assets.<br>
    Wrote and illustrated two chapters of the comic.<br>
    Designed and built a website for the comic.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Women's, Gender, & Sexuality Studies Program<BR>Boston University</h2>
            <i>December 2013 - October 2016</i>
            <P>Program Coordinator</P>
        </div>
        <div class="col-md-8">
    Created branding standard for departmental marketing materials.<br>
    Designed the annual WGSS newsletter.<br>
    Created event flyers and other graphics for departmental activities.<br>
    Updated and maintained departmental website.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-md-right">
            <h2>Center for Finance, Law, & Policy<BR>Boston University</h2>
            <i>February 2012 - December 2013</i>
            <P>Program Coordinator</P>
        </div>
        <div class="col-md-8">
    Created event flyers and other graphics for departmental activities.<br>
    Updated and maintained departmental website.
        </div>
    </div>
    
      </div>
    </div>
    
    </div>
    </div>
<!-- /.resume -->
