---
layout: page
---
<div class="container my-5">
    {% if page.imgmain %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgmain }}">{% endif %}
    {% if page.imgdetail %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgdetail }}">{% endif %}
    {% if page.imgdetail2 %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgdetail2 }}">{% endif %}
    {% if page.imgdetail3 %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgdetail3 }}">{% endif %}
    {% if page.imgdetail4 %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgdetail4 }}">{% endif %}
    {% if page.imgdetail5 %}<img class="w-100 mb-4" src="/../../../../assets/ProjectFiles/{{ page.imgdetail5 }}">{% endif %}
        <div class="container mt-4 px-lg-3 px-md-3 px-5">
                <div class="row mt-sm-4 mt-md-0" id="contactform">
                    <div class="col-sm-12 col-md-8">
                        <h3>{{ page.title }}</h3>
                        <p class="lead">{{ content }}</p>
                    </div>                     
                    <div class="col-sm-12 mt-4 col-md-4 mt-md-0 mt-lg-0">
                        <ul class="list-group">
                                <li class="list-group-item small"><B class="resume-heading">COMPLETED:</B> {{ page.completed }}</li>
                                <li class="list-group-item small"><B class="resume-heading">TOOLS USED:</B> {{ page.tools }}</li>
                                <li class="list-group-item small"><B class="resume-heading">CREDIT:</B> {{ page.credit }}</li>
                                <a onclick="window.history.back()"><li class="list-group-item small"><i class="fas fa-angle-double-left"></i>&nbsp;Back</li></a>
                                <script>
                                    function goBack() {
                                        window.history.back();
                                    }
                                    </script>
                        </ul>    
                    </div>
                </div>
        </div>
</div>